#fs{
    margin: 0;
    padding: 0;
}
legend{
    border: none;
    margin: 0;
    text-align: center;
}
fieldset ol{
    display: block;
    width: 600px;
    margin: 20px auto 40px;
    padding: 0;
    
}
fieldset ol li{
    display: block;
    width: 600px;
    padding: 16px;
    list-style: none;
    border-bottom: 1px solid #aaaaaa;
}
fieldset ol li label{
    width: 120px;
    margin: 0;
}
input[type=submit],
input[type=button]{
    display: block;
    width: 200px;
    margin: 16px auto;
}