table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

table td{
    padding: 10px;
    border: 1px solid #999;
}

#head{
    font-weight: bold;
    background-color: #cccccc;
    text-align: center;
}
#head.id{
    width: 10%;
}
#head.name,
#head.url,
#head.comment,
#head.indate{
    width: 20%;
}

#cell{
    background-color: #ffffff;
}

#btn{
    display: block;
    margin: 20px auto;
}